body {
 background-color: rgb(129, 219, 177);
}

.col{
width: 33.3%;
background-color: blueviolet;
float: left;
}
.col1{
width: 50%;
background-color: blueviolet;
float: left;
}

.col2{
width:5%;
background-color: blueviolet;
float: left;
}
.col4{
width:15%;
background-color: blueviolet;
float: left;
}
.img-responsive {
    width: 100%;
}

.text-center {
    text-align: center;
}

.bg-primary{
    background-color: blueviolet;

}


.rounded {

    border-radius: 500px 234px 90px;
}

.row:after {
    content: "";
    clear: both;
    display: table;
}